{{>menu}}
<br>
<h2>Datos del usuario registrados:</h2>
<hr>
<br> 
<h3> 
    Nombre : {{name}}
</h3>
<h3>
    Apellido : {{last_name}}
</h3>
<h3>
    Email : {{email}}
</h3>
<h3>
    Edad : {{age}}
</h3>
<h3>
    Identificador del carrito : {{cartId}}
</h3>
<form action="/api/sesions/registro" method="post"> 

<input type="text" name="name" placeholder="nombre">
<inpur type="text" name="last_name" placeholder="apellido">
<input type="number" name="age" placeholder="edad"> 
<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">

<input type="submit" value="Registrar" >
</form>
